
@using LearnItAll.Models.Skillblueprints
@model PartDetail

@*		@if(Model.IsRoot)
		{
<i class="bi bi-caret-right"></i><h5>Skill Blueprint: @Model.Part.Name</h5>
		} 
		else
		{
		}*@
		<div  hx-boost="true"
	            hx-target="#new-part-@Model.Part.Id"
	            hx-swap="beforeend settle:1s"
	            class="row align-items-center">
					<div class="row align-items-center">
							<div class="col-auto">
								<form asp-page-handler="Add" method="post" >
										<div class="input-group mb-8">
											<div class="input-group-prepend">
												<i class="bi bi-arrow-return-right input-group-text"></i>
											</div>
											<input name="AddPartModel.Name" id="AddPartModel_Name" class="form-control" placeholder="Add a child node" value="">
											<input  name="AddPartModel.ParentId" id="AddPartModel_ParentId" value=@Model.Part.Id class="form-control" type="hidden" >
											<input  name="AddPartModel.BlueprintId" id="AddPartModel.BlueprintId" value=@Model.BlueprintId class="form-control" type="hidden" >
											
											<button type="submit" class="btn btn-outline-secondary" style="font-size: 1.0rem; color: cornflowerblue;" onclick="getFocus('AddPartModel_Name')">+</button>
										</div>
								</form>
							</div>
					</div>
		</div>
		<a href="#@Model.Part.Id" class="list-group-item" data-toggle="collapse" aria-expanded="false">
		<i class="bi bi-caret-right"></i>@Model.Part.Name
		</a>
		
		<div class="list-group collapse" id="@Model.Part.Id">
			<div id="new-part-@Model.Part.Id"></div>
		</div>
