@page

@using LearnItAll.Models.Skillblueprints
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web

@inject IViewLocalizer Localizer
@model LearnItAll.Areas.Blueprints.Pages.BlueprintModel


	@if(Model.Blueprint.IsNull)
	{
			
		<div class="row align-items-center">
				<form asp-page-handler="Create" method="post" >
					<div class="input-group mb-6">
							<input asp-for=@Model.NewBlueprintModel.Name class="form-control" placeholder="Skill Name" placeholder="Skill Name">
					<button type="submit" class="btn btn-outline-secondary" style="font-size: 1.0rem; color: cornflowerblue;">+
					</button>
					</div>
				</form>
		</div>

	}
	else
	{
		<div class="row align-items-center">
			<h5>
					Skill Blueprint: @Model.Blueprint.Name
			</h5>
		</div>
		<div class="col-1"></div>
			<div class="row align-items-center">
				<form asp-page-handler="Add" method="post" >
					<div class="input-group mb-8">
						<div class="input-group-prepend">
							<i class="bi bi-arrow-return-right input-group-text"></i>
						</div>
						<input asp-for=@Model.AddPartModel.Name class="form-control" placeholder="Add a child node" value="">
<input  asp-for=@Model.AddPartModel.ParentId value=@Model.Blueprint.SkillId class="form-control" type="hidden" >
						<input  asp-for=@Model.AddPartModel.BlueprintId value=@Model.Blueprint.Id class="form-control" type="hidden" >
						
						<button type="submit" class="btn btn-outline-secondary" style="font-size: 1.0rem; color: cornflowerblue;" onclick="getFocus('AddPartModel_Name')">+</button>
					</div>
				</form>
			</div>
			<span asp-validation-for="AddPartModel.Name" class="text-danger"></span>

		<ul class="list-group">
            @foreach (var part in Model.Blueprint.Parts)
            {
                <li class="list-group-item px-0" style="border: 0px;">
                    <partial name="_PartDetail" model="new PartDetail{BlueprintId = Model.Blueprint.Id, Part= part}"></partial>
                </li>
            }
        </ul>
		
		<ul class="list-group">
            @foreach (var node in Model.Blueprint.Nodes)
            {

                <li class="list-group-item px-0" style="border: 0px;">
                    <partial name="_PartNodeDetail" model="new PartNodeDetail{SkillId = Model.Blueprint.Id, PartNode = node}"></partial>
                </li>
            }
        </ul>
	}

@section scripts {
    <script>
		function getFocus(id) {           
		  document.getElementById(id).focus();
		}
    </script>
}