@page

@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web

@inject IViewLocalizer Localizer
@model LearnItAll.Areas.Blueprints.Pages.SkillsModel


<ul class="list-group list-group-lg list-group-flush list my--4"
	hx-boost="true"
	hx-target="closest li"
	hx-swap="outerHTML swap:1s">
	<li>
		<div class="row align-items-center">
			<div class="col-auto">
				@Model.Skill.Id
			</div>
			<div class="col ml--2">
				@Model.Skill.Name
			</div>
			<div class="col-auto">
				<form asp-page-handler="Post" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">@Localizer["Name"]</label>
						<div class="col-sm-10">
							<input asp-for=@Model.NewBlueprintModel.Name class="form-control" placeholder="Name">
						</div>
					</div>
					<button type="submit"
							class="btn btn-sm btn-default d-none d-md-inline-block">
						Create
					</button>
				</form>
			</div>
		</div>
	</li>
</ul>
@{
}
